/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFb;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ebf5ef;
}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100vh;
    background-color: #fff;
    transition: all .5s ease;
    box-shadow: black;
    overflow: auto;
}

    .sidebar header {
        font-size: 28px;
        color: #353535;
        line-height: 70px;
        text-align: center;
        background-color: #fff;
        user-select: none;
        font-family: 'Lato', sans-serif;
        /*background: linear-gradient(to left, #ffcc00 0%, #ff6600 100%);*/
       /* box-shadow: 3px 5px 7px dimgrey;*/
        border-bottom: red;
        border-left-color: aqua;
    }

    .sidebar a {
        display: block;
        height: 65px;
        width: 100%;
        color: #353535;
        line-height: 65px;
        padding-left: 30px;
        box-sizing: border-box;
        border-left: 5px solid transparent;
        font-family: 'Lato', sans-serif;
        font: bold;
        transition: all .5s ease;
    }

a.active, a:hover {
    border-left: 5px solid var(--accent-color);
    color: #fff;
    background: dimgrey;
    transition: all 1s ease;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: black;
    /*box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), inset -7px -7px 10px 0px rgba(0,0,0,.1), 3.5px 3.5px 20px 0px rgba(0,0,0,.1), 2px 2px 5px 0px rgba(0,0,0,.1);*/
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

@media(max-width : 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

        .sidebar a i {
            margin-left: -10px;
        }

    a:hover {
        width: 200px;
        background: dimgray;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.sidebar > a.active, .sidebar > a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
}

.sidebar a.active, .sidebar > a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
}


.frame {
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
}

h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #a759f5;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
}



.content {
    flex: 1;
    padding: 20px;
}

    .content h1 {
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
        margin-bottom: 20px;
        background-color: dimgray;
        color: white;
       /* box-shadow: 5px 10px 20px red;*/
    }

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

    .sidebar .nav-links li .sub-menu a:hover {
        opacity: 1;
    }

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

#btnSave, #btnClear, #btnView,
#btnEdit, #btnBack, #btnCapture, #btnProject, #btnDelete, #btnEmployee {
    Height: 35px;
    border-radius: 20px;
    background-color: #333;
    /*background-color: #ff7605;*/
    color: white;
    border: none;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

    #btnSave:hover, #btnClear:hover, #btnView:hover,
    #btnEdit:hover, #btnBack:hover, #btnDelete:hover,
    #btnCapture:hover, #btnProject:hover, #btnEmployee:hover, {
        background-color: #ebf5ef;
        color: black;
        opacity: 0.7;
        transition: all 0.5s ease;
    }
    .txtProjectName, .txtEmployee, .txtStartDate, 
    .txtEndDate {
        width: 20px;
    }
    #txtStartDate, #txtendDate, #txtClientName, #txtProjectName,
    #txtCreateEmployee, #Roles, #txtStartDate, #txtEndDate,
    #txtClientName, #txtEmployee, #txtTask, {
        border-radius: 5px;
        border:none;
        border-collapse: collapse;
    }